# Application
NODE_ENV=development
PORT=4000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=exam_scheduler
DB_USER=postgres
DB_PASSWORD=postgres

# Clerk Authentication
REACT_APP_CLERK_PUBLISHABLE_KEY=pk_test_ZmluZXItbWFybGluLTU4LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_WqYt0sQqUx0z89SGYCEzEfXOcuQ5Vn2jmrDx1HpZLF

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
